.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .card-item {
        background-color: #3b7a9e;
        color: white;
        padding: 20px;
        text-align: center;
        background-size: cover;
    }

    .card-item h2 {
        font-size: 24px;
        margin: 10px 0;
    }

    .card-item p {
        font-size: 16px;
    }
}