.banner-app-teaser {
    background: rgba(0, 0, 0, 0.5); // Background overlay for the banner
    // min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;

    .cmp-teaser {
        text-align: center;

        &__content {
            padding: 40px;
        }

        &__title {
            font-family: "Oswald", serif;
            font-weight: 500;
            font-size: 3rem;
            color: #fff;
            line-height: 1.2;
            margin: 20px 0;
            text-transform: uppercase;
            z-index: 1;
            position: relative;
        }

        &__description {
            font-family: "Arimo", sans-serif;
            font-size: 1rem;
            color: #fff;
            line-height: 1.5;
            margin-bottom: 20px;
            position: relative;
            z-index: 1;
        }

        &__store-links {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 40px;

            &__group {
                display: inline-block;

                &--google,
                &--apple {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        transform: scale(1.05);
                        transition: transform 0.3s ease;
                    }
                }
            }
        }
    }
}