/* WKND teaser - card.less */

$teaser-height: 400px;
$teaser-img-height: $teaser-height;
$text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
$overlay-background: rgba(0, 0, 0, 0.5);

.cmp-teaser--cards {

    .cmp-teaser {
        position: relative;
        height: $teaser-height;
        max-height: $teaser-height;
        overflow: hidden;
        background-color: #ededed;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;


        .cmp-teaser__image {
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding-top: 0px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            .cmp-image__image {
                object-fit: cover;
                object-position: center;
                height: 100%;
                width: 100%;
            }
        }

        .cmp-teaser__title {
            position: relative;
            z-index: 3;
            font-size: 2.5em;
            margin-bottom: 0.5em;
            font-weight: bold;
            text-align: center;
            margin-top: 1em;
            color: #fff;
            text-shadow: $text-shadow;
        }

        .cmp-teaser__description {
            position: relative;
            z-index: 3;
            font-size: 1.5em;
            text-align: center;
            padding: 0 20px;
            text-shadow: $text-shadow;
            color: #fff;
            margin-top: 0.5em;
        }


        .cmp-teaser__action-link {
            border: 1px solid $teaser-light-color;
            color: $teaser-light-color;
            background-color: transparent;
            -webkit-transition: all .25s ease-out;
            -moz-transition: all .25s ease-out;
            -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
        }
    }
}