.teaser {
    margin-bottom: 20px;
}

.cmp-teaser {
    position: relative;
    text-align: center;
    color: #fff;
    height: 200px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__pretitle {
        display: none;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    &__content {
        position: relative;
        z-index: 1;
        padding: 20px;
    }

    &__title {
        font-family: "Oswald", serif;
        font-weight: 500;
        font-size: 2rem;
        color: #ffffff;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__description {
        font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: #e0e0e0;
        font-style: italic;
        margin-bottom: 20px;
    }

    &__action-link {
        display: none;
    }
}