.cmp-demo {
    background-color: $brand-primary;
    padding: 3px 25px;
    border-radius: 3px;


    &--primary {
        background-color: $brand-primary;

        &__title {
            color: $black;
        }
    }

    &--secondary {
        background-color: $brand-secondary;

        .cmp-demo__title {
            color: #fff;
        }
    }
}